@use "../../../styles/scss/mixins";

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -56px;

  header {
    margin-bottom: 40px;
    text-align: center;
    p {
      justify-content: center;
      margin-bottom: 40px;
    }
  }

  & > p {
    margin-bottom: 40px;
    text-align: center;
  }

  & > a {
    background-color: rgb(var(--success));
    border-color: transparent;
    color: rgb(var(--white));

    &:hover {
      border-color: rgb(var(--success));
      color: rgb(var(--success));
    }
  }

  @include mixins.md {
    height: auto;
    padding-top: calc(64px + 16px + 40px);
    margin-bottom: 96px;

    header {
      h1 {
        font: var(--heading-serif-medium);
      }

      p {
        margin-bottom: 24px;
        &::before {
          content: none;
        }
      }
    }
  }

  @include mixins.lg {
    margin-top: 48px;
    justify-content: flex-start;
  }
}
