@use '../../../styles/scss/animations';

@include animations.stroke-fill(logo-animation, true);

.logo {
  stroke: rgb(var(--white));
  background-color: #CE7A24;

  path {
    &:last-child {
      animation: logo-animation 5s ease-in-out infinite alternate;
    }
  }
}