@use "../../../styles/scss/animations";

@include animations.stroke-fill(logo-animation, true);

.logo {
  stroke: rgb(var(--white));
  background-color: #ce7a24;
  max-width: 185px;
  max-height: 185px;

  path {
    &:last-child {
      animation: logo-animation 5s ease-in-out infinite alternate;
    }
  }
}
