@use "../../../../styles/scss/mixins";
@use "../../../../styles/scss/animations";

@include animations.infinite-arrow-shaft;
@include animations.infinite-arrow-tip;

.section {
  position: relative;

  header {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font: var(--display);
      margin-bottom: 40px;
    }

    & > p {
      &:first-of-type {
        font: var(--body-default-lg);
        font-weight: 500;
        margin-bottom: 24px;
        padding: 16px 24px;
        border: 1px solid rgb(var(--default-cyan));
        border-radius: 72px;
      }

      &:not(:first-of-type) {
        font: var(--body-default-sm);
        position: relative;
        z-index: 1;
        color: rgb(var(--default-cyan));
        margin-top: 24px;
        margin-bottom: 40px;
      }
    }

    a {
      position: relative;
      z-index: 2;
      padding: 16px !important;

      svg {
        transform: rotate(90deg);
      }

      :global(.arrow-shaft) {
        animation: infinite-arrow-shaft 2s infinite alternate;
      }

      :global(.arrow-tip) {
        animation: infinite-arrow-tip 2s infinite alternate;
      }
    }

    @include mixins.lg {
      a {
        padding: 12px !important;
        span {
          display: none;
        }
      }

      & > p {
        &:first-of-type {
          font: var(--body-default-sm);
          padding: 8px 20px;
        }
      }
    }

    @include mixins.sm {
      h1 {
        font: var(--display-ext);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 880px;
    background: linear-gradient(180deg, rgba(0, 30, 98, 0) 0%, #001e62 100%);
    pointer-events: none;

    @include mixins.lg {
      background: linear-gradient(180deg, rgba(0, 30, 98, 0) 0%, #001E62 100%);
      bottom: 0;
      top: auto;
      height: 760px;
    }
  }
}

.mosaic {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  overflow: hidden;
  width: calc(100% + ((8.228%) * 2));
  left: -8.228%;
  margin-top: -214px;
  pointer-events: none;

  @include mixins.lg {
    width: 285.5%;
    left: -95%;
    margin-top: -48px;
  }

  & > div {
    width: calc(21.528% + 12px);
    text-align: left;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: flex-end;

    & > div {
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;

      &:not([data-no-link]) {
        cursor: pointer;
      }

      &,
      img,
      video {
        border-radius: 24px;
        @include mixins.lg {
          border-radius: 12px;
        }
      }

      video {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:nth-child(1) {
      margin-bottom: 65px;
      @include mixins.lg {
        margin-bottom: 0;
      }
    }

    &:nth-child(2) {
      margin-bottom: 120px;

      video {
        height: 102%;
      }
    }

    &:nth-child(3) {
    }

    &:nth-child(4) {
      margin-bottom: 90px;

      video {
        height: 145%;
      }

      @include mixins.lg {
        margin-bottom: 56px;
      }
    }

    &:nth-child(5) {
      margin-bottom: 270px;

      @include mixins.lg {
        margin-bottom: 0;
      }
    }

    @include mixins.lg {
      width: calc(50% + 12px);
      margin: 0 6px;
    }
  }
}

.lg {
  height: 480px;
  @include mixins.md {
    height: 295px;
  }
}

.md {
  height: 400px;
  @include mixins.md {
    height: 245px;
  }
}

.sm {
  height: 320px;
  @include mixins.md {
    height: 195px;
  }
}

.sm, .md, .lg {
  pointer-events: all;
}