@use "../../../../styles/scss/mixins";

.section {
  position: relative;
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div:first-child :global(.row) {
    width: calc(100vw + 24px);
  }

  @include mixins.lg {
    flex-direction: column;
    gap: 80px;
    
    img {
      border-radius: 8px;
    }
  }

  img {
    height: 720px;

    @include mixins.md {
      height: 640px;
    }
  }

  &:not(.flipped) {
    img {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &.flipped {
    img {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }

  :global(.container) {
    position: absolute;

    @include mixins.lg {
      position: relative;
    }
  }
}

.first,
.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.last {
  h2 {
    font: var(--heading-sans-small);
    margin-bottom: 56px;
  }
}
