.info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h2 {
    font: var(--body-default-sm);
    color: rgb(var(--gray));
  }

  p,
  li {
    font-weight: 500;
    color: rgb(var(--white));
  }
}