@use "../../../../styles/scss/mixins";

.firstImage {
  & > img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.lastImage {
  & > img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.section {
  padding-bottom: 96px;

  .firstImage > img,
  .lastImage > img {
    height: 720px;

    @include mixins.lg {
      border-radius: 8px;
    }

    @include mixins.md {
      height: 640px;
    }
  }
}
