@use "../../../../styles/scss/mixins";

.section {
  position: relative;

  @include mixins.lg {
    &::after {
      content: "";
      position: absolute;
      top: calc(100% + 139px);
      bottom: -140px;
      left: 24px;
      right: 24px;
      background-color: rgb(var(--shadow));
    }
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    margin-bottom: 56px;

    @include mixins.lg {
      margin-bottom: 48px;
    }
  }
}

.aboutUs {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 0 40px;

  p {
    &:first-child {
      margin-bottom: 24px;
      span {
        color: rgb(var(--white));
        font: var(--body-bold-lg);
      }
    }
  }

  @include mixins.lg {
    height: auto;

    margin-bottom: 56px;
  }
}

.details {
  display: flex;
  margin-top: 120px;

  article {
    position: relative;
    display: flex;
    flex: 1;
    margin: 24px 0;

    h3 {
      font: var(--body-bold-lg);
      margin-bottom: 16px;
    }

    p {
      font: var(--body-default-lg-md);
    }

    &:not(:first-child) {
      justify-content: center;
    }

    &:nth-child(2) {
      border-right: 1px solid rgb(var(--shadow));
      border-left: 1px solid rgb(var(--shadow));
    }
  }
}
