@use "../../../styles/scss/mixins";

.form {
  background-color: rgb(var(--white));
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 12px;
  display: flex;
  border-radius: 56px;

  form {
    display: flex;
    width: 100%;
    gap: 16px;

    :global(.floating) {
      flex-grow: 1;
    }

    [type="submit"] {
      filter: invert(1);
      justify-content: center;
      padding: 16px;

      & ~ span {
        position: absolute;
      }

      span {
        display: none;
      }
    }
  }

  @include mixins.lg {
    border-radius: 16px;
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 16px;

    :global(.floating) {
      align-items: center;
      width: 100%;

      label {
        transform-origin: center;
      }
    }

    input {
      text-align: center;
      &::placeholder {
        text-align: center;
      }
    }

    form {
      flex-direction: column;
      align-items: center;
      gap: 24px;

      [type="submit"] {
        padding: 16px 32px;

        span {
          display: inline;
        }
      }
    }
  }
}
