@use "../../../styles/scss/mixins";

.form {
  position: relative;
  background-color: rgb(var(--white));
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 12px;
  display: flex;
  border-radius: 56px;

  form {
    display: flex;
    width: 100%;
    gap: 16px;

    :global(.floating) {
      flex-grow: 1;

      & > span:not(:global(.prefix)) {
        left: 0;
        right: auto;
        bottom: -8px;
      }
    }

    [type="submit"] {
      justify-content: center;
      padding: 16px;

      & ~ span {
        position: absolute;
        top: -32px;
      }

      & ~ div {
        position: absolute;
        right: -8%;
        bottom: 50%;
        transform: translateY(50%);
      }

      span {
        display: none;
      }
    }
  }

  @include mixins.lg {
    border-radius: 16px;
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 16px;

    input {
      text-align: center;
      &::placeholder {
        text-align: center;
      }
    }

    form {
      flex-direction: column;
      align-items: center;
      gap: 24px;

      :global(.floating) {
        align-items: center;
        width: 100%;

        & > span {
          bottom: 4px;
        }

        label {
          transform-origin: center;
          left: auto;
        }
      }

      [type="submit"] {
        padding: 16px 32px;

        span {
          display: inline;
        }

        & ~ div {
          right: 8px;
          bottom: 8px;
        }
      }
    }
  }
}
