@use "../../../../../styles/scss/mixins";

.section {
  header {
    text-align: center;
    margin-bottom: 96px;

    p {
      margin-bottom: 40px;

      svg {
        color: var(--white);
      }
    }

    h2 {
      font: var(--heading-sans-medium);
      color: rgb(var(--white));
    }

    @include mixins.lg {
      margin-bottom: 64px;
      p {
        margin-bottom: 24px;
        &::before {
          content: none;
        }
      }
    }
  }

  @include mixins.sm {
    :global(.container) {
      padding: 0 24px;
    }
  }
}

.intro {
  text-align: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

  h4 {
    margin: 0 auto 25px;
  }
  h1 {
    margin-bottom: 50px;
  }
  p {
    margin-bottom: 0;
  }

  @include mixins.md {
    margin-bottom: 50px;
    h1 {
      white-space: break-spaces;
    }
  }
}

.row1 {
  margin-bottom: 24px;
}

.row1,
.row2 {
  &:active {
    a {
      cursor: grabbing;
    }
  }
}
