@use "../../../../styles/scss/mixins";

@mixin active-card {
  background-color: rgb(var(--white));

  & > header {
    h3 {
      color: rgb(var(--blue));
    }
  }

  & > div:nth-child(2) {
    border-top-color: rgb(var(--light-gray));
    border-bottom-color: rgb(var(--light-gray));

    p {
      color: rgb(var(--blue));
    }

    ul {
      color: rgb(var(--blue));
    }
  }

  & > footer {
    .price {
      color: rgb(var(--blue));

      s {
        color: rgb(var(--default-cyan));
      }
    }

    a {
      background-color: rgb(var(--default-cyan)) !important;
      color: rgb(var(--white)) !important;

      &:hover {
        background-color: rgb(var(--white)) !important;
        color: rgb(var(--default-cyan)) !important;
      }
    }

    small {
      div:last-child {
        color: rgb(var(--gray));
      }
    }
  }
}

.section {
  & > div > header {
    text-align: center;
    margin-bottom: 80px;

    h2 {
      margin: 32px 0;
    }
  }
}

.pack {
  position: relative;
  border: 1px solid rgb(var(--default-sea));
  background-color: rgb(var(--lighter-blue));
  padding: 32px 40px;
  transition: all 350ms ease;
  border-radius: 24px;
  box-shadow: 0px 0px 120px rgba(0, 14, 47, 0.25);

  @include mixins.md {
    padding: 32px 16px;
  }

  @include mixins.lg {
    text-align: left !important;
  }

  &:hover {
    @media (min-width: 992px) {
      @include active-card;
      & > header {
        &::before {
          content: "";
          position: absolute;
          left: -40px;
          top: -40px;
          width: calc(100% + 80px);
          height: calc(100% + 65px);
          border-radius: 24px 24px 0 0;
          background-color: rgb(var(--light-cyan));
          border: 1px solid rgb(var(--light-cyan));
        }

        h3 {
          color: rgb(var(--white));
        }

        p {
          color: rgb(var(--blue));
        }
      }
    }
  }

  // Card Header
  & > header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    h3,
    p {
      position: relative;
      z-index: 1;
    }

    h3 {
      color: rgb(var(--light-cyan));
    }

    p {
      font: var(--body-default-sm);
      color: rgb(var(--default-cyan));
      font-weight: 500;
      text-align: right;
      margin-top: 4px;
    }
  }

  // Card Body
  & > div:nth-child(2) {
    font: var(--body-default-sm);
    border-top: 1px solid rgb(var(--default-sea), 0.5);
    border-bottom: 1px solid rgb(var(--default-sea), 0.5);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 24px;
    margin-bottom: 24px;

    p {
      color: rgb(var(--light-cyan));
      margin-bottom: 24px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: rgb(var(--light-cyan));

      li {
        display: inline-flex;
        gap: 8px;
        align-items: center;
        font-weight: 500;

        &::before {
          content: "";
          width: 16px;
          height: 16px;
          background: url("/images/icons/Check.svg") no-repeat;
        }

        & > span {
          & > span {
            font: var(--body-detail);
          }
        }
      }
    }
  }

  // Card Footer
  & > footer {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .price {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      color: rgb(var(--light-cyan));

      & > span {
        font: var(--body-detail);
        white-space: break-spaces;
      }

      & > div {
        text-align: right;
        s {
          font: var(--body-default-sm);
          font-weight: 500;

          & + div > span:first-child {
            font: var(--heading-small);
            line-height: 40px;
          }
        }

        span:first-child {
          font: var(--body-default-lg);
        }

        span:last-child {
          font: var(--heading-small);
          line-height: 40px;
        }
      }
    }

    a {
      justify-content: center;
    }

    small {
      font: var(--body-detail);
      text-align: center;

      div:first-child {
        color: rgb(var(--default-cyan));
        font-weight: 500;
      }
      div:last-child {
        color: rgb(var(--default-sea));
      }
    }
  }

  &.mostSold {
    &::after {
      content: "Pacote Mais Vendido";
      font: var(--body-detail);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      background-color: rgb(var(--success));
      padding: 8px 14px;
      border-radius: 72px;
      transform: translate(-50%, -50%);
    }
  }
}

.active {
  @include active-card;
}
