@use "../../../../styles/scss/mixins";

.section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%), rgba(0, 0, 0, 0.2);

  .content {
    height: 100vh;
    text-align: left;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 96px;
  }

  h1 {
    font: var(--heading-sans-large);
  }

  .localTag {
    font: var(--body-bold-md);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 24px;
    padding: 8px 16px;
    color: rgb(var(--light-gray));
    border: 1px solid rgb(var(--gray));
    border-radius: 56px;
  }

  & > img {
    border-radius: 0 !important;
  }

  img,
  video {
    z-index: -1;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  @include mixins.lg {
    justify-content: flex-end;
    padding-bottom: 48px;
    .content {
      align-items: flex-start;
      height: auto;
    }
  }
}
