@use "../../../styles/scss/mixins";

.section {
}

.learnMore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 86px;
  margin-bottom: 150px;

  h2 {
    font: var(--heading-serif-large);
  }

  p {
    width: 336px;
  }

  .circleButton {
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;

    path,
    line,
    circle {
      transition: 350ms;
    }

    &:hover {
      :global(.top-layer) {
        opacity: 0;
      }

      path,
      line,
      circle {
        stroke: rgb(var(--white));
      }
    }
  }

  @include mixins.lg {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
    margin-bottom: 0px;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  white-space: break-spaces;

  a {
    display: block;
  }

  & > div {
    font: var(--body-default-lg-md);
    color: rgb(var(--dark-gray));

    h3 {
      font: var(--body-bold-lg-md);
      color: rgb(var(--gray));
      margin-bottom: 8px;
    }

    &:not(:first-child):not(:last-child) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }
  }

  @include mixins.sm {
    white-space: normal;
  }
}
