@use '../../../../styles/scss/mixins';

.section {
  @include mixins.lg {
    :global(.row) {
      gap: 40px;
    }
  }
}

.textContent {
  margin-top: 32px;

  p {
    margin: 40px 0;
  }

  a {
    svg {
      transform: rotate(90deg);
    }
  }
}