.alert[open] {
  position: relative;
  display: flex;
  position: fixed;
  bottom: 0;
  width: calc(100% - 88px);
  border-radius: 16px 16px 0 0;
  background-color: rgb(var(--default-cyan));

  padding: 16px 72px 16px 64px;
  align-items: center;
  justify-content: space-between;

  .timer {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  strong {
    font: var(--heading-extra-small);
    color: rgb(var(--dark-blue));
    span {
      color: rgb(var(--white));
      font-weight: 600;
    }
  }

  a {
    color: rgb(var(--white));
  }

  & > button {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-top-right-radius: 16px;
    color: rgb(var(--default-sea));
    background-color: rgb(var(--light-cyan));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
