@use "src/styles/scss/mixins";

.alert[open] {
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: flex;
  position: fixed;
  bottom: 0;
  width: calc(100% - 88px);
  border-radius: 16px 16px 0 0;
  background-color: rgb(var(--default-cyan));
  transform: translateY(100%);
  transition: 350ms;

  padding: 16px 72px 16px 64px;
  align-items: center;
  justify-content: space-between;

  .timer {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  strong {
    font: var(--heading-extra-small);
    color: rgb(var(--dark-blue));
    span:last-of-type {
      color: rgb(var(--white));
      font-weight: 600;
    }
  }

  a {
    color: rgb(var(--white));
  }

  & > button {
    all: unset;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-top-right-radius: 16px;
    color: rgb(var(--default-sea));
    background-color: rgb(var(--light-cyan));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  @include mixins.lg {
    width: 100%;
    border-radius: 0;
    padding: 16px 24px;

    .timer {
      font: var(--body-default-lg);
      gap: 8px;
    }

    strong {
      font: var(--body-default-lg);
      color: rgb(var(--white));

      span {
        color: rgb(var(--dark-blue));

        &:last-of-type {
          color: rgb(var(--dark-blue));
        }
      }
    }

    & > button {
      border-radius: 0;
      width: 24px;
      height: 24px;

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  &.visible {
    transform: initial;
  }
}
