.card {
  padding: 40px;
  border-radius: 24px;
  border: 1px solid rgb(var(--dark-blue));
  background-color: rgb(var(--dark-blue));

  svg {
    color: rgb(var(--default-sea));
    width: 40px;
    height: 32px;
  }

  blockquote {
    margin: 40px 0;
  }

  figcaption {
    :first-child {
      color: rgb(var(--default-cyan));
    }
    :last-child {
      font: var(--body-bold-lg);
      color: rgb(var(--white));
    }
  }
}