@use "../../../../../styles/scss/mixins";

@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% + 100vh));
  }
}

.section {
  height: 1080px;
  overflow: hidden;

  :global(.row) {
    &::after {
      content: "";
      position: absolute;
      width: 75%;
      height: 1080px;
      margin-left: 50%;
      background: linear-gradient(180deg, rgba(0, 30, 98, 0) 0%, rgba(0, 30, 98, 0.88) 100%);
    }
  }
}

.textContent {
  padding-top: 48px;

  & > a {
    color: rgb(var(--white));
    margin-bottom: 80px;

    svg {
      overflow: hidden;
      path {
        visibility: hidden;
      }
    }
  }

  h1 {
    margin-bottom: 48px;
    overflow: hidden;
    span {
      display: inline-block;
      visibility: hidden;
    }
  }

  p {
    margin-bottom: 48px;
    visibility: hidden;
  }

  & > div:last-child {
    max-width: 440px;
    visibility: hidden;
  }
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  visibility: hidden;

  &.animated {
    animation: slide-up 45s cubic-bezier(0.25, 0, 0.75, 1) infinite;
  }

  &:nth-child(odd) {
    animation-direction: alternate;
  }
  &:nth-child(even) {
    animation-direction: alternate-reverse;
    transform: translateY(calc(-100% + 100vh));
  }

  img {
    border-radius: 24px;
  }
}

.sm,
.md,
.lg {
  position: relative;
}

.lg {
  height: 448px;
  @include mixins.md {
    height: 295px;
  }
}

.md {
  height: 350px;
  @include mixins.md {
    height: 245px;
  }
}

.sm {
  height: 300px;
  @include mixins.md {
    height: 195px;
  }
}
