@use "../../../../../styles/scss/mixins";

.section {
  &.active {
    .outer {
      background-color: rgb(var(--white));
      border-color: rgb(var(--white));

      p {
        color: rgb(var(--blue));
      }

      h2 {
        color: rgb(var(--default-cyan));
        span {
          color: rgb(var(--blue));
        }
      }
    }
    .inner {
      img {
        transform: initial;
        opacity: 1;
      }
    }
  }
}

.outer {
  border: 1px solid rgb(var(--darker-blue));
  background-color: rgb(var(--dark-blue));
  border-radius: 32px;
  transition: 350ms;

  @include mixins.lg {
    margin: 0 12px;
  }
}

.inner {
  display: flex;
  justify-content: flex-end;
  position: relative;

  h2 {
    font: var(--heading-small);
    transition: 500ms;

    span {
      transition: 500ms;
      color: rgb(var(--default-cyan));
    }
  }

  p {
    margin: 32px 0;
    transition: 500ms;
  }

  h2,
  p {
    padding: 0 48px;
  }

  img {
    position: absolute;
    left: 12px;
    bottom: 0;
    border-bottom-left-radius: 32px;
    transition: 350ms;
    opacity: 0;
    transform: rotate(-4deg) translateX(-80px);
    transform-origin: bottom;
    width: 41.6667%;
    height: calc(100% + 64px);
    object-fit: contain;
    object-position: bottom left;
  }

  @include mixins.xxl {
    img {
      width: 33.33333333%;
      height: 100%;
    }
  }
  @include mixins.xl {
    img {
      position: relative;
      left: 0;
    }
  }
  @include mixins.lg {
    h2, p {
      padding: 0;
    }

    img {
      width: 105%;
      height: 445px;
    }
  }
}

.textContent {
  margin: 72px 0;

  & > form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    flex-wrap: wrap;
    padding-left: 48px;
    padding-right: 56px;

    & > :global(.floating) {
      &:first-child,
      &:nth-child(4) {
        flex-grow: 1;

        @media (max-width: 1600px) {
          flex-basis: 0%;
        }
        @include mixins.xl {
          flex-basis: auto;
        }
      }

      &:nth-child(4),
      &:nth-child(3) {
        margin-bottom: 24px;
      }
    }

    [type="submit"] {
      margin-right: auto;
      transition: 500ms;
    }
  }

  @include mixins.xl {
    text-align: center;
  }

  @include mixins.lg {
    padding: 0 24px;
    margin-top: 64px;
    margin-bottom: 24px;

    & > form {
      padding: 0;
      flex-wrap: nowrap;
      flex-direction: column;

      & > :global(.floating) {
        width: 100%;
        margin-bottom: 0 !important;
      }

      [type="submit"] {
        margin: auto;
        width: 100%;
        justify-content: center;
        margin-top: 16px;
      }
    }
  }
}
