@use "../../../../../styles/scss/mixins";

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.section {
  header {
    text-align: center;
    margin-bottom: 84px;

    p {
      margin-bottom: 56px;
    }

    h2 {
      font-size: 112px;
      line-height: 160px;

      &>span {
        display: inline-block;
        width: 100%;

        &:first-child {
          font: var(--heading-sans-medium);
          color: rgb(var(--light-gray));
          font-size: inherit;
          line-height: inherit;
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    &>div {
      position: relative;

      &>div {
        position: absolute;
        top: 0;
        right: 0;
        animation: spin 16s infinite linear;
      }
    }
  }
}

.mockup {
  position: relative;
  z-index: -1;
  width: 1128px;
  margin-left: auto;
  perspective: 100px;
  transform-style: preserve-3d;
  perspective-origin: 320px 140px;

  video {
    position: absolute;
    top: 38.6px;
    left: 402.1px;
    width: 521.9px;
    height: 465.2px;
    transform: scale(1) rotateZ(0.2deg) rotateY(-1.1deg);
  }
}

.formWrapper {
  margin-top: 64px;
  width: 440px;
}

.formContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}