@use "../../../styles/scss/mixins";

.header {
  position: fixed;
  z-index: 50;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  mix-blend-mode: difference;
  clip-path: inset(0 12px round 56px);
  transition: all 350ms;

  ul {
    a {
      color: rgb(var(--white));

      &:hover {
        color: rgb(var(--gray));
      }
    }
  }
  
  ul,
  .floatingBtn {
    transition: all 350ms;
  }
  .floatingBtn {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  @mixin floatingHeader {
    backdrop-filter: none;
    mix-blend-mode: normal;

    a,
    ul {
      opacity: 0;
    }

    nav {
      border-color: transparent;
    }

    .floatingBtn {
      opacity: 1;
    }
  }

  &.floating {
    @include floatingHeader;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 16px 14px 16px 40px;
    border: 1px solid rgb(var(--dark-gray));
    border-radius: 56px;

    & > :not(ul) {
      flex: 1;
    }

    & > ul {
      display: flex;
      gap: 32px;
    }

    & > :last-child {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  @include mixins.lg {
    top: 16px;

    nav {
      padding: 12px 12px 12px 24px;
      height: 64px;

      a svg {
        height: 32px;
      }

      & > div {
        width: 56px;

        button {
          padding: 12px 16px;
        }
      }
    }
  }
}
