.header {
  position: fixed;
  z-index: 999;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  mix-blend-mode: difference;
  clip-path: inset(0 12px round 56px);

  nav {
    display: flex;
    align-items: center;
    padding: 16px 14px 16px 40px;
    border: 1px solid rgb(var(--dark-gray));
    border-radius: 56px;

    & > :not(ul) {
      flex: 1;
    }

    & > ul {
      display: flex;
      gap: 32px;
    }

    & > :last-child {
      display: flex;
      justify-content: flex-end;
    }
  }
}
