@use "../../../../styles/scss/mixins";

.presentation {
  img {
    width: 100%;
    height: auto;
  }

  @include mixins.sm {
    h2 br {
      display: none;
    }
  }

  section {
    [class*="col-lg"] {
      & > div {
        text-align: left;
        align-items: flex-start;
      }
    }

    &:not(:first-child) {
      & > div {
        margin: -2px auto;
      }
    }
  }

  &.light {
    section:not(:first-child) {
      background-color: rgb(var(--white));
      & > div {
        background-color: rgb(var(--white));
      }
    }

    h2 {
      color: rgb(var(--black));
    }

    p,
    li {
      color: rgb(var(--dark-gray));
    }

    :global(.infos) {
      h2 {
        color: rgb(var(--dark-gray));
      }

      p,
      li {
        color: rgb(var(--black));
      }

      @include mixins.lg {
        h2 {
          color: rgb(var(--gray));
        }

        p,
        li {
          color: rgb(var(--white));
        }
      }
    }
  }
}
