@use "src/styles/scss/mixins";

.section {
  display: block;
  position: relative;

  & > :global(.container > .col-12) {
    position: absolute;
    left: 0;
  }

  header {
    text-align: center;

    p {
      margin-bottom: 40px;
    }
  }

  @include mixins.lg {
    header {
      h2 {
        span {
          display: inline;
        }
      }

      p {
        margin-bottom: 24px;
      }
    }
  }
}

.rowWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  :global {
    .row {
      margin-top: 300px;

      @include mixins.lg {
        margin-top: 240px;
        .col-12 {
          padding: 0 12px;
        }
      }
    }
  }
}

.card {
  padding: 32px 48px 40px 48px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  background-color: rgb(var(--white));

  svg {
    color: rgb(var(--default-cyan));
  }

  h3 {
    font: var(--heading-small);
    color: rgb(var(--blue));
  }

  p {
    color: rgb(var(--blue));
  }

  @include mixins.xxl {
    padding: 24px 40px 32px 40px;
    gap: 16px;

    svg {
      width: 80px;
      height: 80px;
    }
  }

  @include mixins.lg {
    text-align: left;
  }
}

.formCard {
  background-color: rgb(var(--white));
  padding: 40px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font: var(--heading-medium);
    color: rgb(var(--blue));
  }

  & > p {
    color: rgb(var(--blue));
  }

  & > div {
    padding: 0;

    [type="submit"] {
      margin-top: 24px;
    }
  }

  @include mixins.lg {
    text-align: left !important;
    align-items: flex-start !important;
    padding: 32px 24px;
    gap: 16px;

    form {
      gap: 16px !important;

      [type=submit] {
        margin-top: 16px;
        span {
          white-space: pre;
        }
      }
    }
  }
}
