.section {
  display: block;
  position: relative;

  & > :global(.container > .col-12) {
    position: absolute;
    left: 0;
  }

  header {
    text-align: center;

    p {
      margin-bottom: 40px;
    }
  }
}

.rowWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  :global(.row) {
    margin-top: calc(24px + 210px + 64px);
  }
}

.card {
  padding: 32px 48px 40px 48px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  background-color: rgb(var(--white));

  svg {
    color: rgb(var(--default-cyan));
  }

  h3 {
    font: var(--heading-small);
    color: rgb(var(--blue));
  }

  p {
    color: rgb(var(--blue));
  }
}

.formCard {
  background-color: rgb(var(--white));
  padding: 40px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font: var(--heading-medium);
    color: rgb(var(--blue));
  }

  & > p {
    color: rgb(var(--blue));
  }

  & > div {
    padding: 0;

    [type="submit"] {
      margin-top: 24px;
    }
  }
}
