@use "sass:math";
@use "src/styles/scss/mixins";

.p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    overflow: visible;
  }

  rect {
    fill: none;
    stroke: rgb(var(--default-cyan));
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: 750ms;
    transition-delay: 240ms;
  }

  text {
    font: var(--body-default-sm);
    fill: rgb(var(--white));
    transition: 250ms;
    transition-delay: 250ms;
    transform: translateY(100%);
  }

  .icon path {
    transition: 250ms;
    transform: translateY(-100%);
  }

  & + h2 {
    overflow: hidden;

    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(100%);
      transition: 500ms cubic-bezier(0.25, 0.1, 0.06, 0.99);

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: #{(math.div($i, 10) + 1.1)}s;
        }
      }
    }
  }

  & ~ p {
    opacity: 0;
    transform: translateY(50%);
    transition: 350ms;
    transition-delay: 1.8s;
  }

  @include mixins.lg {
    & > svg {
      height: 40px;
      margin-bottom: -8px;

      & > svg {
        overflow: visible;
      }

      & > rect {
        height: 40px;
        rx: 20px;
      }

      & > text {
        transform: translateY(-5px);
      }
    }
  }
}

.visible {
  .icon path,
  text {
    transform: translateY(0);
  }

  &::before {
    transform: scaleX(1);
  }

  rect {
    stroke-dashoffset: 0;
  }

  & + h2 {
    span {
      opacity: 1;
      transform: translateY(0);
    }
  }

  & ~ p {
    opacity: 1;
    transform: translateY(0);
  }

  @include mixins.lg {
    .icon path {
      transform: translateY(-4px);
    }
  }
}
