@keyframes ani {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

.logotype {
  display: flex;
  gap: 8px;
  height: 80px;
  perspective: 750px;
  transform-style: preserve-3d;
}

.char {
  position: relative;
  transform-origin: center center -80px;
  backface-visibility: hidden;

  & > div {
    display: none;

    &.visible {
      display: flex;
    }
  }

  svg {
    width: 100%;
    height: 80px;
  }
}
