@use '../../../../styles/scss/mixins';

.section {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 96px;

    p {
      padding: 0 56px;
      span {
        font-weight: 500;
        color: rgb(var(--default-cyan));
      }
    }

    @include mixins.lg {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 48px;

      h2 {
        margin-bottom: 40px;
      }

      p {
        padding: 0;
      }

      a {
        align-self: center;
      }
    }
  }
}