@use "src/styles/scss/mixins";

.section {
  position: relative;
  padding-top: 120px;

  & > :global(.container) {
    margin-bottom: 120px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 56.4%;
    height: 100%;
    background-color: rgb(var(--darker-blue));
    border-top-left-radius: 40px;
    transition: 500ms;
  }

  &.light {
    footer {
      p {
        &:last-child {
          color: rgb(var(--gray));
        }
      }
      &::after {
        background-color: rgb(var(--gray));
      }
    }
    &::after {
      background-color: rgb(var(--white));
    }
  }

  @include mixins.xl {
    padding-top: 80px;
    & > :global(.container) {
      margin-bottom: 80px;
    }

    &::after {
      content: none;
    }

    &.light {
      footer {
        p {
          &:last-child {
            color: rgb(var(--default-sea));
          }
        }
        &::after {
          background-color: rgb(var(--default-sea));
        }
      }
    }
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  h2 {
    font: var(--heading-large);
    margin-bottom: 72px;
    white-space: pre;
  }

  p {
    &:first-of-type {
      margin-bottom: 32px;
    }

    span {
      font-weight: 500;
      color: rgb(var(--default-cyan));
    }
  }

  @include mixins.xl {
    height: auto;
    max-width: 500px;
    margin: auto;
    margin-bottom: 48px;
    text-align: center;
    h2 {
      margin-bottom: 40px;
      white-space: break-spaces;
    }
    p {
      &:first-of-type {
        margin-bottom: 24px;
      }
    }
  }

  @include mixins.md {
    max-width: none;
  }
}

.form {
  form {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 32px;
    background-color: rgb(var(--darker-blue));
    transition: 500ms;

    & > div {
      &:nth-child(1),
      &:nth-child(4) {
        width: calc(60% - 12px);
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: calc(40% - 12px);
      }
      &:nth-child(5),
      &:nth-child(6) {
        width: calc(50% - 12px);
      }
      &:nth-last-child(4) {
        width: 100%;
        margin-bottom: 24px;
      }

      @include mixins.lg {
        &:nth-child(n) {
          flex-grow: 1;
          width: 100%;
        }
      }
    }

    @include mixins.xl {
      justify-content: center;
      padding: 32px 24px;

      [type="submit"] {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
