@use "../../../../styles/scss/mixins";

.section {
  position: relative;
  padding-top: 120px;

  & > :global(.container) {
    margin-bottom: 120px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 56.4%;
    height: 100%;
    background-color: rgb(var(--darker-blue));
    border-top-left-radius: 40px;
    transition: 500ms;
  }

  &.light {
    footer {
      p {
        &:last-child {
          color: rgb(var(--gray));
        }
      }
      &::after {
        background-color: rgb(var(--gray));
      }
    }
    &::after {
      background-color: rgb(var(--white));
    }
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  h2 {
    margin-bottom: 72px;
  }

  p {
    &:first-of-type {
      margin-bottom: 40px;
    }

    span {
      font-weight: 500;
      color: rgb(var(--default-cyan));
    }
  }

  @include mixins.lg {
    margin-bottom: 56px;

    h2 {
      margin-bottom: 40px;
    }
  }
}

.form {
  form {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(var(--darker-blue));
    transition: 500ms;

    & > div {
      &:nth-child(1),
      &:nth-child(4) {
        width: calc(60% - 12px);
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: calc(40% - 12px);
      }
      &:nth-child(5),
      &:nth-child(6) {
        width: calc(50% - 12px);
      }
      &:nth-last-child(4) {
        width: 100%;
        margin-bottom: 24px;
      }

      @include mixins.xl {
        &:nth-child(n) {
          flex-grow: 1;
          width: 100%;
        }
      }
    }

    @include mixins.lg {
      justify-content: center;
    }
  }
  @include mixins.lg {
    padding: 0 16px;
  }
}
