@use "../../../../styles/scss/mixins";

.section {
  header {
    text-align: center;
    margin-bottom: 96px;

    p {
      position: relative;
      margin-bottom: 40px;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 440px;
        height: 1px;
        background-color: rgb(var(--shadow));
      }

      svg {
        color: var(--white);
      }
    }

    h2 {
      font: var(--heading-sans-medium);
      color: rgb(var(--light-gray));
    }

    @include mixins.lg {
      margin-bottom: 64px;
      p {
        margin-bottom: 40px;
        &::before {
          content: none;
        }
      }
    }
  }

  @include mixins.lg {
    :global(.pin-spacer .col-12) {
      padding: 0 12px;
      transform: translateY(25%);
    }
  }
}

.cta {
  & > div {
    cursor: auto;
    display: flex;
    flex-direction: column;
    background-color: revert;
    justify-content: center;
    align-items: flex-start;
    padding: 0 146px;
    height: 78vh;

    a {
      height: auto;
      display: inline-flex;
    }

    h3 {
      width: 100%;
      margin-bottom: 40px;
    }

    &::before {
      content: none;
    }

    @include mixins.lg {
      align-items: center;
      padding: 0;
      height: auto;

      a {
        margin-top: 24px;
      }
    }
  }
}
