@use "../../../styles/scss/mixins";

.footer {
  padding: 36px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(var(--shadow));

  .inner {
    display: flex;
    justify-content: space-between;
  }

  @include mixins.lg {
    padding: 28px 0;
    
    .inner {
      justify-content: center;
    }
  }

  p {
    font: var(--body-default-md);
    color: rgb(var(--shadow));

    &:first-child {
      svg {
        margin-right: 8px;
      }
    }
  }

  .social {
    gap: 16px;

    a {
      justify-content: center;
      align-items: center;
    }
  }

  &.fullHeight {
    position: absolute;
    width: 100%;
    bottom: 0;

    @include mixins.md {
      position: static;
      width: auto;
    }
  }
}
