@use "../../../styles/scss/mixins";

.footer {
  position: relative;
  height: 96px;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
  }

  &::before {
    width: 43.6%;
    background-color: rgb(var(--default-sea));
  }

  &::after {
    width: 56.4%;
    left: 43.6%;
    background-color: rgb(var(--default-sea));
  }

  .inner {
    display: flex;
    justify-content: space-between;

    p {
      font: var(--body-detail);
      color: rgb(var(--default-sea));

      &:first-child {
        flex: 1;
        svg {
          margin-right: 8px;
        }
      }

      &:last-child {
        flex: 1;
        text-align: right;
      }
    }

    .social {
      display: flex;
      gap: 16px;

      a {
        justify-content: center;
        align-items: center;
      }
    }
  }

  @include mixins.lg {
    .inner {
      align-items: center;
      flex-direction: column;
      gap: 14px;

      p {
        &:last-child {
          flex: none;
          text-align: center;
        }
      }

      .social {
        gap: 24px;
      }
    }
  }

  &.fullHeight {
    position: absolute;
    width: 100%;
    bottom: 0;

    @include mixins.md {
      position: static;
      width: auto;
    }
  }
}
