@use "../../../../styles/scss/mixins";

.section {
  header {
    text-align: center;
    margin-bottom: 96px;

    p {
      margin-bottom: 40px;

      svg {
        color: var(--white);
      }
    }

    h2 {
      font: var(--heading-sans-medium);
      color: rgb(var(--light-gray));
    }

    @include mixins.lg {
      margin-bottom: 64px;
      p {
        margin-bottom: 40px;
        &::before {
          content: none;
        }
      }
    }
  }
}

.project {
  &:nth-child(even) {
    position: relative;
    top: 56px;

    @include mixins.lg {
      position: static;
    }
  }
}
