@use "../../../styles/scss/mixins";

.presentation {
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  @include mixins.sm {
    h2 br {
      display: none;
    }
  }

  section {
    [class*="col-lg"] {
      & > div {
        text-align: left;
        align-items: flex-start;
      }
    }
  }
}
