@mixin stroke-fill($name, $offset) {
  @keyframes #{$name} {
    0%,
    15% {
      @if ($offset) {
        stroke-dashoffset: 65%;
      }
      stroke-dasharray: 0 100%;
      fill-opacity: 0;
      stroke-width: 0;
    }

    70% {
      @if ($offset) {
        stroke-dashoffset: 25%;
      }
      stroke-dasharray: 100% 0;
      fill-opacity: 0;
      stroke-width: 1;
    }

    85%,
    100% {
      @if ($offset) {
        stroke-dashoffset: 10%;
      }
      stroke-dasharray: 100% 0;
      fill-opacity: 1;
      stroke-width: 0;
    }
  }
}

@mixin tip-animation {
  @keyframes draw-tip {
    from {
      stroke-dashoffset: 1;
    }

    to {
      stroke-dashoffset: 0;
    }
  }
}

@mixin draw-circle {
  @keyframes draw-circle {
    100% {
      stroke-dashoffset: 0;
    }
  }
}

@mixin draw-arrow-shaft {
  @keyframes draw-arrow-shaft {
    50%,
    100% {
      stroke-dashoffset: 0;
    }
  }
}

@mixin infinite-arrow-shaft {
  @keyframes infinite-arrow-shaft {
    0%,
    20% {
      stroke-dashoffset: 1;
    }

    80%,
    100% {
      stroke-dashoffset: 0;
    }
  }
}

@mixin infinite-arrow-tip {
  @keyframes infinite-arrow-tip {
    0%,
    40% {
      stroke-dashoffset: 1;
    }

    60%,
    100% {
      stroke-dashoffset: 0;
    }
  }
}

@mixin glow($color) {
  @keyframes glow {
    0% {
      box-shadow: 0 0 30px 0 transparent;
    }

    50% {
      box-shadow: 0 0 30px 0 $color;
    }
  }
}