:root {
  /* color styles */
  --black: 0, 0, 0;
  --shadow: 51, 51, 51;
  --dark-gray: 102, 102, 102;
  --gray: 153, 153, 153;
  --light-gray: 204, 204, 204;
  --white: 255, 255, 255;

  --error: 255, 102, 115;
  --warning: 245, 214, 123;
  --success: 10, 194, 133;

  [data-navigation] {
    --black: 0, 0, 0;
    --shadow: 51, 51, 51;
    --dark-gray: 102, 102, 102;
    --gray: 153, 153, 153;
    --light-gray: 204, 204, 204;
    --white: 255, 255, 255;
  }
}

/* .light {
  --black: 255, 255, 255;
  --shadow: 204, 204, 204;
  --dark-gray: 153, 153, 153;
  --gray: 102, 102, 102;
  --light-gray: 51, 51, 51;
  --white: 0, 0, 0;
} */

.light {
  background-color: rgb(var(--white));
  color: rgb(var(--shadow));

  p {
    color: rgb(var(--shadow));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    color: rgb(var(--black));
  }

  label {
    color: rgb(var(--dark-gray));
  }

  input,
  textarea,
  select {
    color: rgb(var(--shadow));
    border-bottom-color: rgb(var(--gray));

    &:focus {
      border-bottom-color: rgb(var(--black));
    }
  }
  option {
    color: rgb(var(--dark-gray));
    background-color: rgb(var(--white));
  }

  .btn {
    color: rgb(var(--white));
    background-color: rgb(var(--black));
    border-color: rgb(var(--black));

    &:hover {
      color: rgb(var(--black));
      background-color: rgb(var(--white));
    }

    &.outline {
      color: rgb(var(--black));
      background-color: rgb(var(--white));

      &:hover {
        color: rgb(var(--white));
        background-color: rgb(var(--black));
      }
    }
  }
}
