:root {
  /* grayscale */
  --black: 0, 0, 0;
  --shadow: 51, 51, 51;
  --dark-gray: 102, 102, 102;
  --gray: 153, 153, 153;
  --light-gray: 204, 204, 204;
  --white: 255, 255, 255;

  /* support */
  --error: 255, 102, 115;
  --warning: 245, 214, 123;
  --success: 10, 194, 133;

  /* cyan blue */
  --light-cyan: 18, 191, 255;
  --default-cyan: 0, 174, 239;
  --dark-cyan: 0, 149, 205;

  /* sea blue */
  --light-sea: 0, 84, 221;
  --default-sea: 0, 71, 187;
  --dark-sea: 0, 58, 153;

  /* dark blue */
  --lighter-blue: 0, 46, 149;
  --light-blue: 0, 40, 132;
  --blue: 0, 30, 98;
  --dark-blue: 0, 20, 64;
  --darker-blue: 0, 14, 47;

  [data-navigation] {
    --black: 0, 0, 0;
    --shadow: 51, 51, 51;
    --dark-gray: 102, 102, 102;
    --gray: 153, 153, 153;
    --light-gray: 204, 204, 204;
    --white: 255, 255, 255;
  }
}

body {
  background-color: rgb(var(--blue));
  color: rgb(var(--white));
}

strong {
  color: rgb(var(--default-cyan));
}

/* .light {
  --black: 255, 255, 255;
  --shadow: 204, 204, 204;
  --dark-gray: 153, 153, 153;
  --gray: 102, 102, 102;
  --light-gray: 51, 51, 51;
  --white: 0, 0, 0;
} */

.dark {
  background-color: rgb(var(--darker-blue));
}

.light {
  background-color: rgb(var(--white));
  color: rgb(var(--shadow));

  p {
    color: rgb(var(--shadow));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    color: rgb(var(--black));
  }

  label {
    color: rgb(var(--dark-gray));
  }

  input,
  textarea,
  select {
    color: rgb(var(--shadow));
    border-bottom-color: rgb(var(--gray));

    &:focus {
      border-bottom-color: rgb(var(--black));
    }
  }
  option {
    color: rgb(var(--dark-gray));
    background-color: rgb(var(--white));
  }

  .btn {
    color: rgb(var(--white));
    background-color: rgb(var(--default-cyan));
    border-color: rgb(var(--default-cyan));

    &:hover {
      color: rgb(var(--default-cyan));
      background-color: rgb(var(--white));
    }

    &.outline {
      color: rgb(var(--black));
      background-color: rgb(var(--white));

      &:hover {
        color: rgb(var(--white));
        background-color: rgb(var(--black));
      }
    }
  }
}
