@use "../scss/animations";

@keyframes glow {
  0% {
    box-shadow: 0 0 30px 0 transparent;
  }

  50% {
    box-shadow: 0 0 30px 0 rgb(var(--white), 0.5);
  }
}

.page {
  :global(.btn) {
    &:not(:global(.outline)) {
      animation: glow 2.25s ease-in-out infinite;
    }
  }
}
